@import 'fonts/fonts.css';
* {
  padding: 0;
  list-style: none;
  outline: none;
  font-family: Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  color: unset;
}

h1{
  margin: 0;
}
.main_container{
  /* display: flex;
  justify-content: center; */
  max-width: 800px;
  margin: 0 auto;
}
.task_form {
  display: flex;
  flex-direction:column;
  margin-bottom: 30px;
}
.field{
  margin-bottom: 10px;
  display: flex;
  flex-direction:column;
}
.form_error{
  margin-top: 5px;
  color: red;
}
.task_form input{
  
          border-radius: 5px;
          border: 1px solid rgba(0, 0, 0, 0.459);
          background: white !important;
          font-size: 14px;
          padding: 5px 10px;
          color: black;
}
.task_form input.error{
  
  border: 1px solid red;
}
.task_form textarea{
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.459);
  background: white !important;
  font-size: 14px;
  padding: 10px;
  color: black;
  resize: none;
  height: 200px;
}
.task_form button{
  margin-top: 10px;
}
.btn{

  background-color: #2d6cdf;
  border-radius: 5px;
  color: white;
  width: fit-content;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  transition: .2s background-color;
}
.btn:hover{
  background-color:#482ff7;
}
.btn:active{
  transform:translateY(1px);
}
.task_form label{
 margin-bottom: 5px;
}
.task{
  border-radius: 5px;
  padding: 20px;
  color:black;
  border: 1px solid rgba(0, 0, 0, 0.459);
}
.task_label{
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
  color:rgba(0, 0, 0, 0.5);
}
.task_field{
  margin-top: 5px;
  margin-bottom: 0;
}
.task_field:not(:last-of-type){
  margin-bottom: 20px;
}
.task:not(:last-of-type){
  margin-bottom: 10px;
}
.pagination{
  margin: 20px 0;
  display:flex;
justify-content: center;
}
.pagination ul{
  display:flex;
}
.pagination li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.089);
}
.pagination li:hover{
  background-color:rgba(0, 0, 0, 0.035);
}
.pagination li:active{
  transform:translateY(1px);
}
.pagination li.active{
  background-color:#2d6cdf;
  color: white;
}
.page_btn{
  width: 15px;
}
header{
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items:center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
}
.form_wrapper{
  position: relative;
}
.form_loading{
  position: absolute;
    background-color: rgba(255, 255, 255, 0.705);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}
.form_loading.active {
  opacity: 1;
  visibility: visible;
}

.sort {
  z-index: 5;
  position: relative;
  display: flex;
  align-items: center;

  
}
.sort  >span {
  margin-right: 20px;
}
.sort ul {
  display: flex;
  border-radius: 5px;
  border: 1px solid #dddddd;
  margin: 0;
  
}
.sort li {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
}
.sort li:hover{

    background-color: rgba(0, 0, 0, 0.035);
}

/* .sort li span{
  margin-right: 15px;
} */
.sort li.active span{
  color: #2d6cdf;
}

/* .sort li.active i{
  color: #2d6cdf;
 
} */
.top_panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.top_panel h2{
  margin: 0;
}
.sort_direction{
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  padding: 15px 20px;
}
.sort_direction:hover{
  background-color: rgba(0, 0, 0, 0.035);
}

.modal{
  height: 100vh;
  width: 100vw;
  background:rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition:.2s;
}
.modal.active{
  opacity: 1;
  pointer-events: all;
}
.modal.active .modal_content{
  transform:scale(1);
}
.modal_content{
  display: flex;
    flex-direction:column;
    align-items: center;
    max-width: 500px;
    height: auto;
    background-color: white;
    border-radius:5px;
    padding: 35px;
    transform: scale(0);
    transition: .2s;
}
